.buitton_back {
    display: block;
    margin-bottom: 8px;
    padding-left: 22px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 4px #000;
    text-shadow: 0px 1px 4px 0px #000;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    font: 14pt Arial;
    text-align: left;
}

.buitton_back img {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
}

.buitton_back img.on {
    opacity: 0;
}

.buitton_back a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    
    }

.head_ev {

  
      width: 100%;
    height: 360px;
    position: relative;
}

.head_ev_diverchess {
  min-width: 1280px;
background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/head.png), no-repeat center top #192455;
  background-attachment: fixed;

}

.head_ev_info {

  min-width: 1280px;
  margin: 0 auto;
  padding-top: 8px
}

h1 {
  font: 20pt Montserrat; 
  font-weight: 700;
  text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black, 1px 1px 0 black;
}

h1.title {
  color: #ffffff;
}

.nav {
  margin: 5px;
  min-width: 1280px;
}

#floating-button {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#floating-button-EN {
  position: fixed;
  z-index: 100;
  bottom: 80px;
  right: 70px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#floating-button-CN {
  position: fixed;
  z-index: 100;
  bottom: 80px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



 
#floating-button:hover {
   background-color: #ff7961;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.blackscreen {
  border: 0px;
  margin: auto;
  color: white;
  background-color: #000000;
  
  text-align: left;
  width: 1280px;
  font: 16pt Montserrat; 
  font-weight: 700; 
}

.mist {
  display: inline-block;
  position: relative;    
  line-height: 0;
}



.mist:after {

content: "";
  display: block;    
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: transparent;
  background-image: linear-gradient(to left, #FFFFFF, #8F8F8F);
  opacity: 0.9;

}

.mem {
  display: inline-block;
  position: relative;    
  line-height: 0;
}

.mem:after {

content: "";
  display: block;    
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: transparent;
  background-image: radial-gradient( rgba(255, 0, 0, 0.0) 55%, #FFFFFF);
  opacity: 0.9;
}



.background1 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg70.png);
 background-size: auto 100%;
}

.background2 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg71.png);
 background-size: auto 100%;
}

.background3 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg3.png);
 background-size: auto 100%;
}

.background4 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg72.png);
 background-size: auto 100%;
}

.background5 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg73.png);
 background-size: auto 100%;
}

.background6 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg60.png);
 background-size: auto 100%;
}

.background7 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg74.png);
 background-size: auto 100%;
}

.background8 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg75.png);
 background-size: auto 100%;
}

.background9 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg66.png);
 background-size: auto 100%;
}

.background10 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg76.png);
 background-size: auto 100%;
}

.background12 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg77.png);
 background-size: auto 100%;
}

.background13 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg78.png);
 background-size: auto 100%;
}

.background14 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg79.png);
 background-size: auto 100%;
}

.background15 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg80.png);
 background-size: auto 100%;
}

.background16 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg56.png);
 background-size: auto 100%;
}

.background17 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg81.png);
 background-size: auto 100%;
}

.background18 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg82.png);
 background-size: auto 100%;
}

.background19 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg83.png);
 background-size: auto 100%;
}

.background20 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg2.png);
 background-size: auto 100%;
}

.background21 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg19.png);
 background-size: auto 100%;
}

.background22 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg84.png);
 background-size: auto 100%;
}

.background23 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg85.png);
 background-size: auto 100%;
}

.background24 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg67.png);
 background-size: auto 100%;
}

.background25 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg69.png);
 background-size: auto 100%;
}

.background26 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg71.png);
 background-size: auto 100%;
}

.background27 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg72.png);
 background-size: auto 100%;
}

.background28 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg73.png);
 background-size: auto 100%;
}

.background29 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg74.png);
 background-size: auto 100%;
}

.background30 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg75.png);
 background-size: auto 100%;
}

.background32 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/p/bg76.png);
 background-size: auto 100%;
}

.background33 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg89.png);
 background-size: auto 100%;
}

.background34 {
 background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/bg/bg90.png);
 background-size: auto 100%;
}

.background11 {
 background: black;
 background-size: auto 100%;
}

.background31 {
 background-image: url(../img/bg/bgw.png);
 background-size: auto 100%;
}

.whiteword {
color: gray;
text-shadow: 0px 0px 0 black;
}

.whiteworld {
  height: 200px;
}

.pict1 {

  width: 1280px;
}

.blob {

background-image: linear-gradient(180deg,rgba(213,254,255,0.2),rgba(213,254,255,0.2))

}

.blobfirst {

background-image: linear-gradient(180deg,rgba(26,68,255,0.3),rgba(26,68,255,0.3))

}

.blobsecond {

background-image: linear-gradient(180deg,rgba(206,58,0,0.3),rgba(206,58,0,0.3))

}

.blobthird {

background-image: linear-gradient(180deg,rgba(255,234,0,0.3),rgba(255,234,0,0.3))

}

.blobfourth {

background-image: linear-gradient(180deg,rgba(0,252,255,0.3),rgba(0,252,255,0.3))

}

.blobfifth {

background-image: linear-gradient(180deg,rgba(6,255,0,0.3),rgba(6,255,0,0.3))

}

.blobsixth {

background-image: linear-gradient(180deg,rgba(128,0,111,0.3),rgba(128,0,111,0.3))

}


.longname {
    font: 14pt Helvetica !important;
}

.blackport {
  display: inline-block;
  position: relative;    
  line-height: 0;
}

.blackport:after {

content: "";
  display: block;    
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95) 45%, rgba(0, 0, 0, 0.3) );
  opacity: 1.0;
}

.mainchapter {
  border: 0px; 
  margin: auto;
  color: white;
  background-color: #000000;
  padding: 3px;
  width: 1280px;
  font: 16pt Montserrat; 
  font-weight: 700;
  text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black, 1px 1px 0 black; 
}




   .chapter {
background-color: #3c3838;
width: 1300px;
margin: auto;
padding: 10px;
margin-top: 10px;

   }

  .title-1 {
    color:white;
    text-align: center;
    font-weight: bold;
    font: 20pt Helvetica;
  }

body {
  background-color: #b8c1c9;
  text-align: center;
  text-stroke: 1px #FFFFFF;
  font: 16pt Helvetica; 
  font-weight: 500; 
 } 


.words {
 text-align: left;
 padding: 1.5%;
}  

.portyellow {
  width: 116px;
  color: #FFFF00;
  font: 16pt Helvetica;
  font-weight: 700;
}

.portyellow img {
  border: 2px solid #FFFF00;
}
  .port {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.portgray {
  width: 116px;
  color: gray;
  font: 16pt Helvetica;
  font-weight: 700;
}

.portgray img {
  border: 2px solid gray;
}

.portorange img {
  border: 2px solid orange;
}

.portorange {
  width: 116px;
  color: orange;
  font: 16pt Helvetica;
  font-weight: 700;
}

.portblue img {
  border: 2px solid #6699FF;
}

.portblue {
  width: 116px;
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.portwhite img {
  border: 2px solid #FFFFFF;

}

.portwhite {
  width: 116px;
  color: #FFFFFF;
  font: 16pt Helvetica;
  font-weight: 700;
}


.portred img {
  border: 2px solid #FF0000;

}

.portred {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.portgreen img {
  border: 2px solid #00FF00;

}

.portgreen {
  width: 116px;
  color: #00FF00;
  font: 16pt Helvetica;
  font-weight: 700;




.nameblue {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.namered {
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;
}

.loc {
 text-align: center; 
}

.pict {
width: auto;
}




.main {
  width: 100%;


